################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Grepper/v15
/ContextMenu/bin
*.dll
*.pdb
/ContextMenu/obj
/GrepperView/obj/x86
/GrepperView/bin
/UpgradeLog.htm
*.cache
/.vs/config
GrepperView/GrepperView.csproj.user
*.pdb
GrepperLib/obj/Release/GrepperLib.dll
*.dll
