################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dll
*.pdb
*.cache
/.vs/config
*.user
*.exe
*.suo
ContextMenu/obj/Debug/ContextMenu.csproj.FileListAbsolute.txt
*.manifest
*.application
*.resources
*.manifest
ContextMenu/obj/Release/ContextMenu.csproj.FileListAbsolute.txt
*.application
GrepperView/obj/x86/Debug/GrepperView.DirectoryBrowser.resources
*.manifest
GrepperView/obj/x86/Release/GrepperView.csproj.FileListAbsolute.txt
*.resources
GrepperView/obj/x86/Release/GrepperView.MainUI.resources
GrepperView/obj/x86/Debug/GrepperView.csproj.FileListAbsolute.txt
